@page "/editProfile/{gamerId}"
@layout FirstLayout
@using ShareSphere.Data;
@inject NavigationManager navMan
@inject FirebaseDatabase db

@if (gamer == null)
{
    <div class="loading-view">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
}
else
{
    @if (uploading)
    {
        <div class="loading-view">
            <div class="loader"></div>
            <p>Uploading...</p>
        </div>
    }
    else
    {
        <div id="edit-profile-form">
            <div class="row">
                <div class="col">
                    <h3>Edit Profile</h3>
                </div>
                <div class="cancel-div col-auto">
                    <button onclick="@cancel" class="cancel-button">x</button>
                </div>
            </div>
            <div class="uploadmask">
                <div class="upload-div my-3">
                    <button class="upload-button" onclick="@setPhoto">Choose a diffrent photo</button>
                </div>
                @if (photo != null)
                {
                    <p>Choosen: @photo.FileName</p>
                }
                else
                {
                    <p>Choosen: @gamer.filename</p>
                }
            </div>

            <div class="form-group">
                <label for="name-input">Username</label>
                <div id="name-input-div">
                    <input type="text" @bind="@username" id="name-input" class="form-control box" placeholder="@gamer.username">
                </div>
            </div>

            <div class="form-group">
                <label for="platform-select-input">Choose your platforms</label>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="platforms-dropdown-menu-btn-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.platforms[0] == null)
                        {
                            <small>Select platform one</small>
                        }
                        else
                        {
                            <small>@gamer.platforms[0]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="platforms-dropdown-menu-btn-0">
                        @foreach (string platform in allPlatforms)
                        {
                            <li><button class="dropdown-item" @onclick="() => setPlatform(platform, 0)">@platform</button></li>
                        }
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="platforms-dropdown-menu-btn-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.platforms[1] == null)
                        {
                            <small>Select platform two</small>
                        }
                        else
                        {
                            <small>@gamer.platforms[1]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="platforms-dropdown-menu-btn-0">
                        @foreach (string platform in allPlatforms)
                        {
                            <li><button class="dropdown-item" @onclick="() => setPlatform(platform, 1)">@platform</button></li>
                        }
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="platforms-dropdown-menu-btn-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.platforms[2] == null)
                        {
                            <small>Select platform three</small>
                        }
                        else
                        {
                            <small>@gamer.platforms[2]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="platforms-dropdown-menu-btn-0">
                        @foreach (string platform in allPlatforms)
                        {
                            <li><button class="dropdown-item" @onclick="() => setPlatform(platform, 2)">@platform</button></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="game-select-input">Choose your games</label>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="games-dropdown-menu-btn-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.games[0] == null)
                        {
                            <small>Select game one</small>
                        }
                        else
                        {
                            <small>@gamer.games[0]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="games-dropdown-menu-btn-0">
                        @foreach (string game in allGames)
                        {
                            <li><button class="dropdown-item" @onclick="() => setGame(game, 0)">@game</button></li>
                        }
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="games-dropdown-menu-btn-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.games[1] == null)
                        {
                            <small>Select game two</small>
                        }
                        else
                        {
                            <small>@gamer.games[1]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="games-dropdown-menu-btn-1">
                        @foreach (string game in allGames)
                        {
                            <li><button class="dropdown-item" @onclick="() => setGame(game, 1)">@game</button></li>
                        }
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="gradient-btn dropdown-toggle" type="button" id="games-dropdown-menu-btn-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (gamer.games[2] == null)
                        {
                            <small>Select game three</small>
                        }
                        else
                        {
                            <small>@gamer.games[2]</small>
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="games-dropdown-menu-btn-2">
                        @foreach (string game in allGames)
                        {
                            <li><button class="dropdown-item" @onclick="() => setGame(game, 2)">@game</button></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="biography-input">Biography</label>
                <div id="biography-input-div">
                    <textarea type="text" @bind="@biography" id="password-input" class="form-control">@gamer.biography</textarea>
                </div>
            </div>

            <div class="form-group">
                <div id="save-btn-div">
                    <button id="save-btn" class="gradient-btn w-100" onclick="@saveChanges">Save</button>
                </div>
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public string gamerId { get; set; }

    private Gamer gamer;
    private string username;
    private List<string> allPlatforms;
    private List<string> allGames;
    private string biography;
    FileResult photo = null;
    private bool uploading = false;

    protected async override void OnInitialized()
    {
        gamer = await db.getGamerByUid(gamerId);
        allPlatforms = await db.getAllPlatforms();
        allGames = await db.getAllGames();
        StateHasChanged();
    }

    public async void setPhoto()
    {
        photo = await MediaPicker.Default.PickPhotoAsync();
        StateHasChanged();
    }

    public async void setPlatform(string platform, int index)
    {
        gamer.platforms[index] = platform;
    }

    public void setGame(string game, int index)
    {
        gamer.games[index] = game;
    }

    public void cancel()
    {
        navMan.NavigateTo("/profile", true);
    }

    public async void saveChanges()
    {
        uploading = true;
        StateHasChanged();
        if (username != null)
        {
            gamer.username = username;
        }
        if (biography != null)
        {
            gamer.biography = biography;
        }
        if(photo != null)
        {
            if (gamer.filename != photo.FileName)
            {
                gamer.photoUrl = await db.uploadPhotoToStorage(photo, gamer.filename);
                gamer.filename = photo.FileName;
            }
        }
        await db.updateGamer(gamer);
        uploading = false;
        cancel();
    }
}