@page "/profile"
@using ShareSphere.Data
@inject FirebaseAuthentication firebaseAuth
@inject FirebaseDatabase db
@inject NavigationManager navMan


@if (gamer == null)
{
    <p>Loading...</p>
}
else
{
    <div class="profile-info my-2">
        <div class="row">
            <div class="col-3 mr-1 py-2">
                <img src="/images/bot_fill.png" class="rounded-circle profile-info-icon" />
            </div>
            <div class="col-9 ml-1">
                <div class="row username">
                    <div class="col">
                        @gamer.username
                    </div>
                </div>
                <div class="row">
                    @if (gamer.platforms.Count > 0)
                    {
                        @foreach (int i in gamer.platforms)
                        {
                            <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">@i</div>
                        }
                    }
                    else
                    {
                        <span>Keine Plattform ausgewählt</span>
                    }
                </div>
                <div class="row games">
                    <div class="col">
                        @if (gamer.games.Count > 0)
                        {
                            @foreach (int i in gamer.games)
                            {
                                <span>/ Game Nr. @i /</span>
                            }
                        }
                        else
                        {
                            <span>Keine Games ausgewählt</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @gamer.biography
            </div>
        </div>
        <div class="row my-2 text-center">
            <div class="col">
                <div id="settings-btn-div">
                    <button id="settings-btn" class="gradient-btn w-100" onclick="@signOut">Sign out</button>
                </div>
            </div>
            <div class="col">
                <div>
                    <button id="settings-btn" class="gradient-btn w-100" onclick="@upload">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-posts text-center h-100 align-items-center">
        <div>No content added yet</div>
    </div>
    @foreach (Post iterate in posts)
    {
        <div id="post">
            <div class="row">
                <div id="post-header-div" class="col">
                    <div class="row">
                        <div id="profile-image-div" class="col-auto">
                            <img src="/images/bot_fill.png" id="profile-image" class="img-icon" />
                        </div>
                        <div id="profile-name-div" class="col-auto">
                            <p id="profile-name">@gamer.username</p>
                        </div>
                        <div class="col"></div>
                        <div class="col-auto">
                            <div id="profile-join-btn-div">
                                <button id="profile-join-btn" class="gradient-btn" @onclick="() => deletePostBtnClicked(iterate)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="post-video-div" class="col">
                    <video id="post-video" autoplay muted loop class="w-100">
                        <source src="@iterate.videoUrl" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="row">
                <div id="post-interact-div" class="col">
                    <div class="row">
                        <div id="wp-image-btn-div" class="col-auto">
                            <button id="wp-image-btn" class="interact-btn" @onclick="() => wpBtnClicked(iterate)">WP</button>
                            <small>@iterate.wps</small>
                        </div>
                        <div id="comment-image-btn-div" class="col-auto">
                            <button id="comment-image-btn" class="interact-btn" @onclick="() => commentBtnClicked(iterate)">
                                <i class="bi bi-chat-square-text-fill" />
                            </button>
                        </div>
                        <div class="col"></div>
                        <div id="bookmark-image-btn-div" class="col-auto">
                            <button id="bookmark-image-btn" class="interact-btn" @onclick="() => bookmarkBtnClicked(iterate)">
                                <i class="bi bi-bookmark-fill" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                <div class="row">
                    <div id="post-comment-div" class="col">
                        <p id="post-comment">Quicktey: Test Post for layout</p>
                    </div>
                </div>
            -->
        </div>
    }
}



@code {
    private Gamer gamer;
    private List<Post> posts = new List<Post>();

    protected async override void OnInitialized()
    {
        gamer = await db.getGamerByUid(firebaseAuth.getClient().User.Uid);
        posts = await db.getAllPostsFromGamer(gamer);
        StateHasChanged();
    }

    private void signOut()
    {
        firebaseAuth.getClient().SignOut();
        navMan.NavigateTo("/");
    }

    private async void upload()
    {
        FileResult video = await MediaPicker.Default.PickVideoAsync();

        if (video != null)
        {
            string videoUrl = await db.uploadPostToStorage(video);
            db.uploadPost(gamer, new Post(FirebaseDatabase.generatePostId(10), gamer, videoUrl));
            db.updateGamer(gamer);
        }
        else
        {
            //error
        }
    }

    private async void deletePostBtnClicked(Post post)
    {
        gamer.removePost(post);
        db.updateGamer(gamer);
        db.deletePost(post);
        posts.Remove(post);
        StateHasChanged();
    }

    private async void wpBtnClicked(Post post)
    {
        post.wps++;
        db.updatePost(post);
    }

    private void commentBtnClicked(Post post)
    {
        // comment pop-up
    }

    private async void bookmarkBtnClicked(Post post)
    {
        // save in gamer
    }
}