@page "/profile"
@using ShareSphere.Data
@using ShareSphere.Shared
@inject FirebaseAuthentication firebaseAuth
@inject FirebaseDatabase db
@inject NavigationManager navMan


@if (gamer == null)
{
    <div class="loading-view">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
}
else
{
    <div class="profile-info my-2">
        <div class="row">
            <div class="col-3 mr-1 py-2">
                <img src="/images/bot_fill.png" class="rounded-circle profile-info-icon" />
            </div>
            <div class="col-9 ml-1">
                <div class="row username">
                    <div class="col">
                        @gamer.username
                    </div>
                </div>
                <div class="row">
                    @if (gamer.platforms.Count > 0)
                    {
                        @foreach (string i in gamer.platforms)
                        {
                            <div class="col-auto platform-label rounded-1 m-1 px-2 py-1">@i</div>
                        }
                    }
                    else
                    {
                        <span>Keine Plattform ausgewählt</span>
                    }
                </div>
                <div class="row games">
                    <div class="col">
                        @if (gamer.games.Count > 0)
                        {
                            @foreach (string i in gamer.games)
                            {
                                <span>/ Game Nr. @i /</span>
                            }
                        }
                        else
                        {
                            <span>Keine Games ausgewählt</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @gamer.biography
            </div>
        </div>
        <div class="row my-2 text-center">
            <div class="col">
                <div id="sign-out-btn-div">
                    <button id="sign-out-btn" class="gradient-btn w-100" onclick="@signOut">Sign out</button>
                </div>
            </div>
            <div class="col">
                <div id="upload-btn-div">
                    <button id="upload-btn" class="gradient-btn w-100" onclick="@upload">+</button>
                </div>
            </div>
        </div>
    </div>

    @if (posts.Count > 0)
    {
        @foreach (Post iterate in posts)
        {
            <PostComponent post="@iterate" isDelete="@isDelete" profileToUpdateState="@this" />
        }
    }
    else
    {
        <div id="no-content-added" class="profile-posts text-center h-100 align-items-center">
            <div>No content added yet</div>
        </div>
    }
}

@code {
    private Gamer gamer;
    private List<Post> posts = new List<Post>();
    private bool isDelete = true;


    protected async override void OnInitialized()
    {
        gamer = await db.getGamerByUid(firebaseAuth.getClient().User.Uid);
        posts = await db.getAllPostsFromGamer(gamer);
        StateHasChanged();
    }

    private void signOut()
    {
        firebaseAuth.getClient().SignOut();
        navMan.NavigateTo("/");
    }

    private async void upload()
    {
        navMan.NavigateTo("uploadPost");
    }

    public async void update()
    {
        gamer = await db.getGamerByUid(firebaseAuth.getClient().User.Uid);
        posts = await db.getAllPostsFromGamer(gamer);
        StateHasChanged();
    }
}